//color
$cl: #333333;
$white: #fff;
$note-p-cl: #444444;
$ttl-p-cl: #3BA6C9;

$border-cl: #E5E5E5;
$works-border-cl: #DDDDDD;

$shadow: 0px 3px 6px #00000029;

$price-bg-cl: #EEFBFB;
$btn-bg-cl: linear-gradient(to right, #FA41CC, #6020B0);
$question-p-bg-cl: #F2F2F2;
$contact-bg-cl: linear-gradient(to right, #05A5FA, #63FBD7);
$contact-span-cl: #0C449B;
$contact-input-bg-cl: #EEFBFB;
$footer-bg-cl: #F8F8F8;


//font
$font-family: 'Noto Sans JP', sans-serif;
$xl: 32px;
$lg: 28px;
$md: 24px;
$s-md: 18px;
$rg: 16px;
$sm: 14px;
$ss: 12px;