/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* END Reset CSS */
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  color: #333333;
  background-color: #fff;
}

a {
  text-decoration: none;
  display: block;
  color: #333333;
}

li {
  list-style: none;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1022px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.ttl {
  text-align: center;
}
.ttl h2 {
  font-size: 32px;
}
.ttl p {
  font-size: 16px;
  color: #3BA6C9;
}

.btn {
  text-align: center;
  width: 155px;
  height: 37px;
  border-radius: 10px;
  background: linear-gradient(to right, #FA41CC, #6020B0);
  line-height: 37px;
}
.btn a {
  color: #fff;
  font-size: 14px;
}

header {
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  height: 94px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .wrapper .logo {
  display: flex;
  align-items: center;
}
header .wrapper .logo p {
  margin-left: 16px;
}
header .wrapper .logo p a {
  font-size: 24px;
}
header .wrapper nav {
  display: flex;
}
header .wrapper nav li + li {
  margin-left: 46px;
}
header .wrapper nav a {
  font-size: 16px;
}
header .wrapper .nav-toggle {
  display: none;
}

main {
  margin-top: 94px;
}
main #about {
  overflow: hidden;
  position: relative;
  height: calc(100vh - 94px);
}
main #about .wrapper {
  display: flex;
}
main #about .wrapper .about-detail {
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
main #about .wrapper .about-detail h2 {
  margin-bottom: 44px;
  line-height: 1.44;
  font-size: 32px;
}
main #about .wrapper .about-detail p:nth-of-type(1) {
  margin-bottom: 45px;
  font-size: 16px;
}
main #about .wrapper .img-content {
  z-index: -100;
  position: absolute;
  top: -124px;
  right: -85px;
}
main #about .wrapper .img-content .about-img-wrapper:nth-of-type(2) {
  position: absolute;
  top: 225px;
  left: -67px;
  z-index: 50;
}
main #about .wrapper .img-content .about-img-wrapper:nth-of-type(2) img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
main #feature {
  padding: 70px 0;
}
main #feature .ttl {
  margin-bottom: 57px;
}
main #feature h3 {
  text-align: center;
  font-size: 28px;
}
main #feature .feature-inner {
  display: flex;
  justify-content: center;
  padding: 49px 0 86px;
}
main #feature .feature-inner:nth-child(3) .feature-detail {
  margin-top: 45px;
}
main #feature .feature-inner:nth-child(3) h4 {
  line-height: 1.7;
  margin-bottom: 45px;
}
main #feature .feature-inner:nth-child(3) .feature-img-wrapper {
  margin-right: 157px;
}
main #feature .feature-inner:nth-child(5) .feature-detail {
  margin-right: 84px;
}
main #feature .feature-inner:nth-child(5) h4 {
  margin-bottom: 40px;
}
main #feature .feature-inner:nth-child(7) .feature-detail {
  margin-top: 20px;
}
main #feature .feature-inner:nth-child(7) h4 {
  line-height: 1.8;
  margin-bottom: 33px;
}
main #feature .feature-inner:nth-child(7) .feature-img-wrapper {
  margin-right: 173px;
}
main #feature .feature-inner .feature-detail h4 {
  font-size: 24px;
  line-height: 1.9;
}
main #feature .feature-inner .feature-detail p {
  font-size: 16px;
  line-height: 1.6;
}
main #feature .feature-inner .feature-detail .feature-img-wrapper img {
  display: block;
  width: 100%;
  height: auto;
}
main #price {
  padding: 55px 0 68px;
  background-color: #EEFBFB;
}
main #price .ttl {
  margin-bottom: 70px;
}
main #price .price-content {
  box-sizing: border-box;
  max-width: 926px;
  margin: 0 auto 36px;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
main #price .price-content .price-detail {
  box-sizing: border-box;
  display: flex;
  line-height: 2;
}
main #price .price-content .price-detail + .price-detail {
  border-top: 1px solid #E5E5E5;
}
main #price .price-content .price-detail h3, main #price .price-content .price-detail p {
  padding-top: 35px;
  padding-bottom: 35px;
}
main #price .price-content .price-detail h3 {
  box-sizing: border-box;
  width: 31.2095%;
  margin-left: 19px;
  border-right: 1px solid #E5E5E5;
}
main #price .price-content .price-detail h3 .tab-only {
  display: none;
}
main #price .price-content .price-detail p {
  margin-left: 30px;
}
main #price > p {
  text-align: center;
  color: #444444;
  font-size: 16px;
}
main #question {
  padding: 55px 0 86px;
  background-color: #fff;
}
main #question .ttl {
  margin-bottom: 32px;
}
main #question .question-content {
  box-sizing: border-box;
  max-width: 926px;
  margin: 0 auto;
  font-size: 14px;
}
main #question .question-content li h3 {
  box-sizing: border-box;
  cursor: pointer;
  padding: 18px 0 20px;
  border: 1px solid #E5E5E5;
  text-align: center;
  line-height: 1.3;
  background-color: #fff;
}
main #question .question-content li h3:hover {
  opacity: 0.7;
}
main #question .question-content li p {
  box-sizing: border-box;
  padding-left: 35px;
  border: 1px solid #E5E5E5;
  background-color: #F2F2F2;
  color: #444444;
}
main #question .question-content li:nth-of-type(2) p, main #question .question-content li:nth-of-type(3) p {
  display: none;
}
main #question .question-content li:nth-of-type(1) p {
  padding-top: 17px;
  padding-bottom: 30px;
}
main #question .question-content li:nth-of-type(2) p {
  padding-top: 23px;
  padding-bottom: 27px;
}
main #question .question-content li:nth-of-type(3) p {
  padding-top: 24px;
  padding-bottom: 26px;
}
main #blog {
  padding: 55px 0 91px;
  background-color: #EEFBFB;
}
main #blog .ttl {
  margin-bottom: 54px;
}
main #blog .blog-inner {
  display: flex;
  justify-content: center;
}
main #blog .blog-inner .blog-content {
  width: 28.4773%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  background-color: #fff;
}
main #blog .blog-inner .blog-content .blog-detail {
  position: relative;
  box-sizing: border-box;
  height: 127px;
  padding: 14px 30px 0 18px;
}
main #blog .blog-inner .blog-content .blog-detail p:nth-of-type(1) {
  font-size: 18px;
}
main #blog .blog-inner .blog-content .blog-detail p:nth-of-type(2) {
  position: absolute;
  right: 32px;
  bottom: 10px;
  font-size: 16px;
}
main #blog .blog-inner .blog-content + .blog-content {
  margin-left: 30px;
}
main #blog .blog-inner .blog-content img {
  display: block;
  width: 100%;
}
main #works {
  padding: 55px 0 90px;
}
main #works .ttl {
  margin-bottom: 68px;
}
main #works .swiper .swiper-wrapper {
  display: flex;
}
main #works .swiper .swiper-wrapper .swiper-slide .works-content {
  box-sizing: border-box;
  width: 322px;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
}
main #works .swiper .swiper-wrapper .swiper-slide .works-content .works-img-wrapper {
  width: 100%;
  height: 210px;
}
main #works .swiper .swiper-wrapper .swiper-slide .works-content .works-img-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #works .swiper .swiper-wrapper .swiper-slide .works-content .works-detail {
  padding: 19px 18px 40px;
}
main #works .swiper .swiper-wrapper .swiper-slide .works-content .works-detail h3 {
  margin-bottom: 30px;
}
main #contact {
  padding: 63px 0 70px;
  background: linear-gradient(to right, #05A5FA, #63FBD7);
}
main #contact .ttl {
  color: #fff;
  margin-bottom: 36px;
}
main #contact .ttl p {
  color: #fff;
}
main #contact > p {
  text-align: center;
  margin-bottom: 44px;
  color: #fff;
  font-size: 16px;
}
main #contact form {
  box-sizing: border-box;
  max-width: 926px;
  margin: 0 auto;
  padding: 31px 62px 35px;
  background-color: #fff;
}
main #contact form h3 {
  font-size: 16px;
}
main #contact form h3:nth-of-type(2) span {
  margin-top: 25px;
}
main #contact form h3:nth-of-type(3) span {
  margin-top: 19px;
}
main #contact form h3 span {
  display: inline-block;
  text-align: center;
  margin-bottom: 35px;
  margin-left: 23px;
  width: 60px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  background-color: #0C449B;
  font-size: 14px;
  color: #fff;
}
main #contact form input, main #contact form textarea, main #contact form button {
  border: none;
  padding: 0;
  margin: 0;
}
main #contact form input, main #contact form textarea {
  background-color: #EEFBFB;
}
main #contact form input:nth-child(2),
main #contact form input:nth-child(4) {
  height: 43px;
  max-width: 500px;
  width: 100%;
}
main #contact form label, main #contact form button {
  display: block;
  margin: 0 auto;
}
main #contact form textarea {
  margin-bottom: 27px;
  width: 100%;
  height: 179px;
  resize: none;
}
main #contact form label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
main #contact form label input {
  vertical-align: middle;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
main #contact form button {
  font-size: 14px;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
  color: #fff;
}

footer {
  padding: 43px 0 49px;
  text-align: center;
  background-color: #F8F8F8;
}
footer .footer-logo {
  margin-bottom: 21px;
}
footer .footer-logo a {
  font-size: 24px;
}
footer .explanation {
  display: flex;
  justify-content: center;
  margin-bottom: 52px;
}
footer .explanation p {
  font-size: 16px;
}
footer .explanation p + p {
  margin-left: 29px;
}
footer > p {
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 960px) {
  .ttl h2 {
    font-size: 28px;
  }
  main #about .wrapper .about-detail h2 {
    font-size: 28px;
  }
  main #feature {
    padding: 70px 20px 0;
  }
  main #feature .feature-inner .feature-img-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main #price, main #question, main #contact {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 960px) and (min-width: 521px) {
  header .wrapper nav li + li {
    margin-left: 30px;
  }
  main #about .wrapper .img-content .about-img-wrapper:nth-of-type(2) {
    left: 150px;
    width: 400px;
  }
  main #feature .feature-inner:nth-child(3) .feature-img-wrapper {
    margin: 0;
  }
  main #feature .feature-inner:nth-child(5) .feature-detail {
    margin: 0;
  }
  main #feature .feature-inner:nth-child(7) .feature-img-wrapper {
    margin: 0;
  }
  main #price .price-content .price-detail {
    align-items: center;
  }
  main #price .price-content .price-detail h3, main #price .price-content .price-detail p {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  main #price .price-content .price-detail h3 .tab-only {
    display: block;
  }
  main #blog .blog-inner .blog-content .blog-detail {
    height: 240px;
  }
  main #blog .blog-inner .blog-content .blog-detail p:nth-of-type(2) {
    right: 15px;
  }
}
@media screen and (max-width: 520px) {
  header .wrapper > p {
    display: none;
  }
  header .wrapper nav {
    box-sizing: border-box;
    position: fixed;
    flex-direction: column;
    padding: 50px 20px;
    width: 300px;
    height: calc(100vh - 94px);
    top: 94px;
    right: -300px;
    transition: right 0.8s;
    background-color: #EEFBFB;
  }
  header .wrapper nav li + li {
    margin-left: 0;
    margin-top: 30px;
  }
  header .wrapper nav li a {
    position: relative;
    display: inline;
    font-size: 28px;
    transition: 0.3s;
  }
  header .wrapper nav li a:hover {
    font-size: 30px;
  }
  header .wrapper nav li a:before, header .wrapper nav li a:after {
    content: "";
    position: absolute;
    transition: 0.3s;
  }
  header .wrapper nav li a:before {
    top: 50%;
    right: -61px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: 2px solid #3BA6C9;
    border-radius: 50%;
  }
  header .wrapper nav li a:before:hover {
    right: -66px;
  }
  header .wrapper nav li a:after {
    right: -41px;
    top: 17px;
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
    transform: rotate(45deg);
  }
  header .wrapper nav li a:after:hover {
    right: -46px;
  }
  header .wrapper nav.open {
    right: 0;
  }
  header .wrapper .nav-toggle {
    position: relative;
    height: 20px;
    width: 30px;
    display: block;
    cursor: pointer;
  }
  header .wrapper .nav-toggle span {
    position: absolute;
    right: 0;
    height: 3px;
    width: 30px;
    background-color: #333333;
    display: inline-block;
  }
  header .wrapper .nav-toggle span:nth-of-type(1) {
    top: 0;
  }
  header .wrapper .nav-toggle span:nth-of-type(2) {
    top: 10px;
  }
  header .wrapper .nav-toggle span:nth-of-type(3) {
    top: 20px;
  }
  header .wrapper .nav-toggle.open {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  header .wrapper .nav-toggle.open span:nth-of-type(1), header .wrapper .nav-toggle.open span:nth-of-type(3) {
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    width: 30px;
    height: 3px;
    background: #333333;
  }
  header .wrapper .nav-toggle.open span:nth-of-type(1) {
    transform: translateX(-50%) rotate(-45deg);
  }
  header .wrapper .nav-toggle.open span:nth-of-type(2) {
    opacity: 0;
  }
  header .wrapper .nav-toggle.open span:nth-of-type(3) {
    transform: translateX(-50%) rotate(45deg);
  }
  main #about .wrapper .about-detail {
    width: 100%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  main #about .wrapper .about-detail h2 {
    margin-bottom: 30px;
  }
  main #about .wrapper .about-detail p:nth-of-type(1) {
    margin-bottom: 35px;
  }
  main #about .wrapper .about-detail .btn {
    margin: 0 auto;
  }
  main #about .wrapper .img-content {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  main #about .wrapper .img-content .about-img-wrapper:nth-of-type(2) {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 75%;
    width: 300px;
  }
  main #feature .feature-inner {
    flex-direction: column;
  }
  main #feature .feature-inner:nth-child(3) .feature-img-wrapper {
    margin: 0;
  }
  main #feature .feature-inner:nth-child(5) .feature-detail {
    order: 2;
    margin: 45px 0 0;
  }
  main #feature .feature-inner:nth-child(5) .feature-detail .feature-img-wrapper {
    order: 1;
    margin: 0;
  }
  main #feature .feature-inner:nth-child(7) .feature-detail {
    margin-top: 45px;
  }
  main #feature .feature-inner:nth-child(7) .feature-detail .feature-img-wrapper {
    margin: 0;
  }
  main #feature .feature-inner .feature-img-wrapper {
    width: 100%;
    height: auto;
  }
  main #price .ttl {
    margin-bottom: 40px;
  }
  main #price .price-content .price-detail {
    text-align: center;
    flex-direction: column;
  }
  main #price .price-content .price-detail h3, main #price .price-content .price-detail p {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  main #price .price-content .price-detail h3 {
    border-bottom: 1px solid #E5E5E5;
    width: 100%;
  }
  main #price .price-content .price-detail p {
    box-sizing: border-box;
    border-bottom: 2px solid #E5E5E5;
  }
  main #price .price-content .price-detail p :last-child {
    border-bottom: none;
  }
  main #blog {
    padding-left: 20px;
    padding-right: 20px;
  }
  main #blog .blog-inner {
    flex-direction: column;
  }
  main #blog .blog-inner .blog-content {
    width: 100%;
  }
  main #blog .blog-inner .blog-content + .blog-content {
    margin-left: 0;
    margin-top: 30px;
  }
  main #works .swiper .swiper-wrapper .swiper-slide .works-content {
    width: 280px;
  }
  main #works .swiper .swiper-wrapper .swiper-slide .works-content .works-img-wrapper {
    height: 180px;
  }
  main #contact .ttl {
    margin-bottom: 28px;
  }
  main #contact > p {
    margin-bottom: 35px;
  }
  main #contact form {
    padding: 30px;
  }
  main #contact form h3 span {
    margin-bottom: 20px;
  }
  main footer {
    padding: 35px 0;
  }
  main footer .explanation {
    margin-bottom: 45px;
  }
  main footer .explanation a {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */